html { 
    background: url('./backround.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


h1{
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(38, 61, 67, .9);
    color: antiquewhite;
    font-family: 'Henny Penny';
    font-size: 50px;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    
}
.book-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    font-family: 'Henny Penny';
    color:antiquewhite;
}
.directory{
    font-family: 'Henny Penny';
    color:antiquewhite;
    font-size: 20px;
}

#all{
    padding: 5px;
    width: 150px;
    height: 30px;
    border: solid rgba(255,202,70,1);
    background-color: rgba(255,106,92,1);
    
    
}
#all:hover{
    cursor: pointer;
    color: rgba(73,135,172,1);
}

#create{
    padding: 5px;
    width: 150px;
    height: 30px;
    border: solid rgba(255,202,70,1);
    background-color: rgba(255,106,92,1);
    
}

#create:hover{
    cursor: pointer;
    color: rgba(73,135,172,1);
}

.edit-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -10px;
    text-align: center;
    font-family: 'Henny Penny';
    color:antiquewhite;
    padding: 10px;
}
.delete{
    padding: 5px;
    width: 150px;
    height: 30px;
    border: solid rgba(255,202,70,1);
    background-color: rgba(255,106,92,1);
    
    
}
.delete:hover{
    cursor: pointer;
    color: rgba(73,135,172,1);
}

.edit{
    padding: 5px;
    width: 150px;
    height: 30px;
    border: solid rgba(255,202,70,1);
    background-color: rgba(255,106,92,1);
    
}

.edit:hover{
    cursor: pointer;
    color: rgba(73,135,172,1);
}


.viewing-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.books{
    background: url('../assets/images/bookshelf.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 60px 0 0 0;
}

.blueBook, .greenBook, .orangeBook, .redBook, .yellowBook {
    height: 150px;
    width: 40px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 68px 0;
    border-radius: 35%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.blueBook:hover, .greenBook:hover, .orangeBook:hover, .redBook:hover, .yellowBook:hover{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 35%;
}

.blueBook {
    background-image: url('../assets/images/blue-book-on-shelf-2.png');
}

.blueBook:hover {
    background-image: url('../assets/images/blue-book-off-shelf-2.png');
}
.greenBook {
    background-image: url('../assets/images/green-book-on-shelf.png');
}

.greenBook:hover {
    background-image: url('../assets/images/green-book-off-shelf.png');
}
.orangeBook {
    background-image: url('../assets/images/orange-book-on-shelf.png');
}

.orangeBook:hover {
    background-image: url('../assets/images/orange-book-off-shelf.png');
}
.redBook {
    background-image: url('../assets/images/red-book-on-shelf.png');
}

.redBook:hover {
    background-image: url('../assets/images/red-book-off-shelf.png');
}
.yellowBook {
    background-image: url('../assets/images/yellow-book-on-shelf.png');
}

.yellowBook:hover {
    background-image: url('../assets/images/yellow-book-off-shelf.png');
}

.bookTitle {
    width:120px;
    display: inline-table;
    transform: rotate(270deg);
    font-family: 'PT Sans Narrow'
}


.current-book{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

img{
    max-width: 200px;
    max-height: 300px;
    padding: 10px;
    border-radius: 20%;
}

dt{
    padding: 10px;
    font-weight: bold;
    color: rgba(255,106,92,1);
    border-bottom: 1px solid rgba(255,202,70,1);
    font-family: 'PT Sans Narrow'
}
dd{
    font-weight: normal;
    color:antiquewhite;
}
.hide{
    display: none;
}

.input-forms {
    margin: auto;
}

.input-row {
    margin-bottom: 10px;
}

.input-row input[type="submit"] {
    cursor: pointer;
    outline-style: none;
    border-style: none;
    border: 1px solid #ccc;
    color: white;
    background-color: green;
    padding: .8em;
}

.message {
    text-align: center;
    color: red;
}

#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }