h1{
    text-align: center;
}
.container{
    border: solid black;
    display: flex;
    flex-direction: column;
    padding:10px;
    
    
}
.book-buttons{
    border: solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#all{
    border: solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
    
}
#all:hover{
    cursor: pointer;
    color: purple;
}

#create{
    border:solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
}

#create:hover{
    cursor: pointer;
    color: purple;
}

.edit-buttons{
    border: solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.delete{
    border: solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
    
}
.delete:hover{
    cursor: pointer;
    color: purple;
}

.edit{
    border:solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
}

.edit:hover{
    cursor: pointer;
    color: purple;
}


.viewing-area{
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.directory{
    border: solid blue;
    padding: 5px;
    margin:5px;
}

.books{
    background: url('../assets/images/bookshelf.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid blue;
    text-align: center;
    width: 100%;
    margin: 60px 0 0 0;
}

.blueBook, .greenBook, .purpleBook, .redBook, .yellowBook {
    height: 150px;
    width: 40px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 62px 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.blueBook:hover, .greenBook:hover, .purpleBook:hover, .redBook:hover, .yellowBook:hover{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.blueBook {
    background-image: url('../assets/images/blue-book-on-shelf.png');
}

.blueBook:hover {
    background-image: url('../assets/images/blue-book-off-shelf.png');
}
.greenBook {
    background-image: url('../assets/images/green-book-on-shelf.png');
}

.greenBook:hover {
    background-image: url('../assets/images/green-book-off-shelf.png');
}
.purpleBook {
    background-image: url('../assets/images/purple-book-on-shelf.png');
}

.purpleBook:hover {
    background-image: url('../assets/images/purple-book-off-shelf.png');
}
.redBook {
    background-image: url('../assets/images/red-book-on-shelf.png');
}

.redBook:hover {
    background-image: url('../assets/images/red-book-off-shelf.png');
}
.yellowBook {
    background-image: url('../assets/images/yellow-book-on-shelf.png');
}

.yellowBook:hover {
    background-image: url('../assets/images/yellow-book-off-shelf.png');
}

.bookTitle {
    width:120px;
    display: inline-table;
    transform: rotate(270deg);    
}

.current-book{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

img{
    max-width: 200px;
    max-height: 300px;
    padding: 10px;
}

dt{
    padding: 10px;
    font-weight: bold;
}
dd{
    font-weight: normal;
}
.hide{
    display: none;
}

.input-forms {
    margin: auto;
}

.input-row {
    margin-bottom: 10px;
}

.input-row input[type="submit"] {
    cursor: pointer;
    outline-style: none;
    border-style: none;
    border: 1px solid #ccc;
    color: white;
    background-color: green;
    padding: .8em;
}