html { 
    background: url('./backround.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


h1{
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(38, 61, 67, .9);
    color: antiquewhite;
    font-family: 'Henny Penny';
    font-size: 50px;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    
}
.book-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    font-family: 'Henny Penny';
    color:antiquewhite;
}
.directory{
    font-family: 'Henny Penny';
    color:antiquewhite;
    font-size: 20px;
}

#all{
    border: solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
    
}
#all:hover{
    cursor: pointer;
    color: purple;
}

#create{
    border:solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
}

#create:hover{
    cursor: pointer;
    color: purple;
}

.edit-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -10px;
    text-align: center;
    font-family: 'Henny Penny';
    color:antiquewhite;
    padding: 10px;
}
.delete{
    border: solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
    
}
.delete:hover{
    cursor: pointer;
    color: purple;
}

.edit{
    border:solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
}

.edit:hover{
    cursor: pointer;
    color: purple;
}


.viewing-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.books{
    background: url('../assets/images/bookshelf.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 60px 0 0 0;
}

.blueBook, .greenBook, .purpleBook, .redBook, .yellowBook {
    height: 150px;
    width: 40px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 62px 0;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.blueBook:hover, .greenBook:hover, .purpleBook:hover, .redBook:hover, .yellowBook:hover{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.blueBook {
    background-image: url('../assets/images/blue-book-on-shelf.png');
}

.blueBook:hover {
    background-image: url('../assets/images/blue-book-off-shelf.png');
}
.greenBook {
    background-image: url('../assets/images/green-book-on-shelf.png');
}

.greenBook:hover {
    background-image: url('../assets/images/green-book-off-shelf.png');
}
.purpleBook {
    background-image: url('../assets/images/purple-book-on-shelf.png');
}

.purpleBook:hover {
    background-image: url('../assets/images/purple-book-off-shelf.png');
}
.redBook {
    background-image: url('../assets/images/red-book-on-shelf.png');
}

.redBook:hover {
    background-image: url('../assets/images/red-book-off-shelf.png');
}
.yellowBook {
    background-image: url('../assets/images/yellow-book-on-shelf.png');
}

.yellowBook:hover {
    background-image: url('../assets/images/yellow-book-off-shelf.png');
}

.bookTitle {
    width:120px;
    display: inline-table;
    transform: rotate(270deg);
}


.current-book{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

img{
    max-width: 200px;
    max-height: 300px;
    padding: 10px;
}

dt{
    padding: 10px;
    font-weight: bold;
}
dd{
    font-weight: normal;
}
.hide{
    display: none;
}