h1{
    text-align: center;
}
.container{
    border: solid black;
    display: flex;
    flex-direction: column;
    padding:10px;
    
    
}
.book-buttons{
    border: solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#all{
    border: solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
    
}
#all:hover{
    cursor: pointer;
    color: purple;
}

#create{
    border:solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
}

#create:hover{
    cursor: pointer;
    color: purple;
}

.edit-buttons{
    border: solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.delete{
    border: solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
    
}
.delete:hover{
    cursor: pointer;
    color: purple;
}

.edit{
    border:solid green;
    padding: 5px;
    width: 150px;
    height: 30px;
    
}

.edit:hover{
    cursor: pointer;
    color: purple;
}


.viewing-area{
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#directory{
    border: solid blue;
    padding: 5px;
    margin:5px;
}

#books{
    background: url('./assets/images/bookshelf.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid blue;
    padding: 10px;
    text-align: center;
    height: 300px;
    width: 100%;
}

.book{
    height: 150px;
    width: 60px;
    display: flex;
    background: url('./assets/images/blue-book-on-shelf.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 150px 0;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.book:hover{
    cursor: pointer;
    background: url('./assets/images/blue-book-off-shelf.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bookTitle {
    width:150px;
    display: inline-table;
    transform: rotate(270deg);
    border: 1px solid green;
    
}

.current-book{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

img{
    max-width: 200px;
    max-height: 300px;
    padding: 10px;
}

dt{
    padding: 10px;
    font-weight: bold;
}
dd{
    font-weight: normal;
}
.hide{
    display: none;
}